.table {
    display: block;
    grid-template-columns: auto repeat(8, minmax(0, 1fr));
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 2vh;
    font-size: 2vh;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  input[type='checkbox'] {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .options2 {
    text-align: center;
    position: relative;
  }
  
  .dots {
    cursor: pointer;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:  12vh;
    box-shadow: 0px 0.8vh 1.5vh 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content div {
    color: black;
    padding: 1vh 1.5vh;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-content div:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  
  .pagination button {
    margin: 0 0.5vh;
    border: none;
    font-size: 2vh;
  }
  
  .pagination button:hover{
    color: #76A5AF;
  }
  
  .rows-per-page {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
  }
  
  .rows-per-page span{
    font-size: 2vh;
  }
  .inputs{  
  font-size: 2vh;
  border: 0.1vh solid black;
  border-radius: 1vh;
  width: 20%;
  }
  
  
  .tabela{
    margin: 10vh 15vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.toggle-btn{
  font-size: 0.7vw;
}

.toggle-btn{
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  padding: 0.8vh 1vh;
  position: relative;
}

.toggle-btn:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.12vh;
  position: absolute;
  background: #28A3F6;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}


.toggle-btn {
  border: 0px;
  cursor: pointer;
}

.toggle-btn.active {
}
.select-table{
  width: 30vw;
  height: 4.5vh;
  margin: 2vh 0 0 2vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 0.1vw solid var(--border-color);
}
.table-link button.active:after,
.table-link button:hover:after { 
  width: 100%; 
  left: 0; 
}
.table-link button:hover,
.table-link button.active{
  color: #28A3F6;
}