.table {
  margin-left: 100px;
  margin-top: 50px;
  display: block;
  grid-template-columns: auto repeat(8, minmax(0, 1fr));
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 100px;
  
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  padding: 20px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

input[type='checkbox'] {
  margin-top: 0;
  margin-bottom: 0;
}

.options {
  text-align: center;
  position: relative;
}

.dots {
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  margin-top: -100px;
  text-align: left;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  border: none;
  font-size: 20px;
}

.pagination button:hover{
  color: #76A5AF;
}

.detail-icons {
  margin-right: 0.5rem;
}

.rows-per-page {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.rows-per-page span {
  margin-right: 5px;
}

.inputs{  
font-size: 20px;
border: 1px solid black;
border-radius: 10px;
width: 20%;
}

@media screen and (max-width: 1440px) {
  .table{
      width: 70%;
  }
}
@media screen and (max-width: 1240px) {
  .table{
      width: 20%;
      font-size: 11px;
  }
}
