.Loading {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.loader {
  position: relative;
  height: 12px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #76a5af;
  animation: 4.1s prog ease-in;
}

@keyframes prog {
  to {
    width: 100%;
  }
}
