.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: left;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color: #888;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.nav-link {
  font-size: 16px;
  color: #888;
  margin-right: 20px;
  cursor: pointer;
}

.active {
  color: blue;
  border-bottom: 2px solid blue;
}