.drag-drop-container {
    text-align: center;
    padding: 20px;
  }
  
  .drag-drop-container p {
    margin: 0;
  }
  
  .file-input {
    display: none;
  }
  
  .drop-area {
    border: 2px dashed #bbb;
    padding: 20px;
    margin-top: 20px;
    min-height: 200px;
    max-width: 400px; /* Prilagodite veličinu okvira po potrebi */
    margin: 0 auto; /* Centrirajte okvir */
    position: relative;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%; /* Postavite širinu slike na 100% */
    height: 100%; /* Postavite visinu slike na 100% */
    object-fit: cover; /* Omogućite da slika pokriva cijeli prostor */
  }
  
  .image-container.selected {
    border: 2px solid #333;
  }
  
  .image-container:hover {
    cursor: pointer;
  }
  
  .uploaded-image {
    width: 100%; /* Postavite širinu slike na 100% */
    height: 100%; /* Postavite visinu slike na 100% */
    object-fit: cover; /* Omogućite da slika pokriva cijeli prostor */
  }
  
  .image-name {
    margin: 5px 0;
  }
  
  .image-check {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }

  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  