@font-face {
  font-family: Poppins-Regular;
  src: url("./../../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./../../fonts/poppins/Poppins-Bold.ttf");
}

* {
  font-family: Poppins-Regular;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.naslov {
  padding: 3.438rem 0.5rem 	0.5rem 	0.5rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
  width: 100%;
}

.line2 {
  border-bottom: 1px solid black;
  margin-left: -500px;
}

.nova-knjiga {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 80px;
  background-color: #76a5af;
  color: white;
  border-radius: 25px;
  font-size: 15px;
  transition:background-color 0.4s ease;
  border: none;
  z-index:0;
  opacity: 1;
}

.blur-showed{
  filter: blur(10px);
  opacity: 1;
  pointer-events: none;
}

.blur{ 
 transition: all 0.4s ease-in-out;
}

.nova-knjiga:hover {
  background-color: #51737b;
}

.new-book {
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.search-bar-icon {
  color: #76a5af;
  font-size: 35px;
}

.search {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
}
.search-span {
  display: flex;
  flex-direction: row;
}
.footer{
  z-index: 1;
  --footer-background: #ed5565;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background-color: var(--footer-background);
  fill: url("#blob");
}

.bubble{
  position: absolute;
  left: var(--position, 50%);
  background:var(--footer-background);
  border-radius: 100%;
  animation: bubble-size
  var(--time, 4s) ease-in infinite
  var(--delay, 0s);
}