@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

body {
  font-family:'Poppins-Regular';
  font-size: 14px;
}

.buttons-spec {
  margin-top: 7px;
}

button {
  cursor: pointer;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.breadcrumbs {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.headbar {
  border-bottom: 1px solid #ccc;
}

.illustration{
  width: 10%;
  padding-right: 1rem;
  
}

.illustrations{
  display: flex;
  justify-content: flex-start;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  /* overflow-y: scroll; */
  display: flex;
  height: 100%;
  /* margin-top: 60px; */
}

.content-wrapper {
  flex: 1;
  overflow-y: scroll;
  padding: 15px;
  overflow-x: hidden;
  /* height: calc(100vh - 60px) */
}

.logo {
  color: #ffff;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
  font-size: 30px;
}

.blur-showed {
  filter: blur(10px);
  opacity: 1;
  pointer-events: none;
}

.blur {
  transition: all 0.4s ease-in-out;
}

.naslov {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.default-input {
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.toggle-button {
  background-color: #f2f2f2;
  border: 0px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #ccc;
  border-bottom: 2px solid #76a5af;
}

.toggle-button.active {
  border-bottom: 2px solid black;
}

.flex-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.column {
  flex: 1;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  /* width: 50%; */
}

input,
.line2 {
  border-bottom: 1px solid black;
}

.stranica p {
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
}

.create-btn {
  background-color: #134f5c;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 50px;
  font-size: 15px;
  vertical-align: middle;
  height: 25px;
  width: 130px;
}

.submit {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 2rem;
  background-color: #76a5af;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  border: none;
}

.cancel {
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #76a5af;
  background-color: white;
  color: #76a5af;
  border-radius: 25px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.cancel:hover {
  border: 2px solid #51737b;
  background-color: #51737b;
  color: white;
}

.submit:hover {
  background-color: #51737b;
}

label {
  margin-bottom: 5px;
  margin-top: 10px;
}


.error-text {
  color: #fc9999;
}
