.lista{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  
  .all-lists{
    display: flex;
    flex-direction: row;
    justify-content: toend;
  }
  .line{
  margin: 0;
  }
  .bottomicons{
    position:fixed;
    bottom: 0;
  
  }.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
  
  .line{
    margin-top: -5px;
  }
  